body {
    background-color: honeydew;
}

.btn {
    cursor : pointer;
}

h1 {
    color: darkblue;
}

.clicked {
    color: gray;
}

.form , .greeting {
    display: none;
}

.showing {
    display: block;
}